#articleView{
    .button-group{
        display: inline-block;
        left: 60%;
        position: relative;
        
    }
    .header{
        font-size: 50px;
        padding: 10px;
    }
    .sub-header{
        font-size: 20px;
    }
    .articleView{
        border: 0;
    }

    .article-info-stats p {
        margin-top: 3px;
    }
}
