#social-login {


    .social_btn {
        width: 100%;
        margin-bottom: 10px;
        font-size: 15px;
        a {
            align-items: center;
            color: #fff;
            display: flex;
            height: 35px;
            text-decoration: none;
            span {
                align-items: center;
                align-self: stretch;
                display: flex;
                font-size: 17px;
                justify-content: center;
                margin-right: 10px;
                text-align: center;
                width: 35px;
            }
        }
        &.facebook {
        background: $facebookColour;
        span {
          background: darken($facebookColour,7%);
        }
      }
        &.linkedin {
        background: $linkedInColour;
        span {
          background: darken($linkedInColour,7%);
        }
      }
        &.google {
        background: $googleColour;
        span {
          background: darken($googleColour,7%);
        }
      }
    }


    .divWidth{
        padding-bottom: 7px;
    }
    .linkClass {
        display: block;
        width: 100%;
    }
    .socialfont{
        color: white;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    }
    .social-right-pad{
        padding-right: 2.5em;
    }
    .facebookTextDesign{
      background-color: $facebookColour;
      border-radius: 1%;
      display: inline-block;
      min-width: 80%;
      padding: 0.5em;
    }
    .facebookIconDesign{
        background-color: darken($facebookColour,5%);
        min-width: 20%;
        padding: 0.5em;
        padding-bottom:0.57em;
      }
    .googleTextDesign{
        background-color: $googleColour;
        display: inline-block;
        min-width: 80%;  
        padding: 0.5em;
      }
    .googleIconDesign{
        background-color: darken($googleColour,10%);
        min-width: 20%;  
        padding: 0.5em;
        padding-bottom:0.55em;
      }
    .linkedInTextDesign{
        background-color: $linkedInColour;
        display: inline-block;
        min-width: 80%; 
        padding: 0.5em;
      }
    .linkedInIconDesign{
        background-color: darken($linkedInColour,10%);
        min-width: 20%;
        padding: 0.5em;
        padding-bottom:0.55em;
      }
}
