#errorPortal{
    background-color: rgb(173, 51, 20);
    color: rgb(255, 255, 255);
    position: fixed;
    zIndex: 1000 ;
    font-family: 'Courier New', Courier, monospace;
    left: 40%;
    color: 'red';
    top: 5%;
}

