@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$milk-background: #F4F3F0;
$primary-blue: #3498DB;
$shadow-ash: #c0c0c0;
$border-ash: #ccc;
$error-red: #9f3a38;
$error-border-red: #e0b4b4;
$form-footer-ash: #e9e9e9;
$text-color: #545454;
$link-color: #1a0dab;
$white: #fff;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

.wait{
	cursor: wait;
}

.user-message {
    max-width: 560px;
      margin: 30px auto;
      font-size: 3rem;
}

.ui.form {
    font-size: 1.7rem; 
}

.user-form {
  max-width: 420px;
    margin: 30px auto;
    // font-size: 4rem;
}
  .user-form form {
    margin-bottom: 15px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .user-form h2 {
      margin: 0 0 15px;
  }
  .user-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .user-btn {        
      font-size: 15px;
      font-weight: bold;
      background-color: $primary-blue;
      color: $white;
    box-shadow: 2px 2px 2px $shadow-ash;
  }

.user-btn:hover {
      box-shadow: 3px 3px 3px $shadow-ash;
      background-color: darken($primary-blue, 5);
      transition: background-color 0.3s, box-shadow 0.3s;
    }

  .seperator {
        padding: 25px 0px;
      margin: 20px 0 10px;
      text-align: center;
      border-top: 1px solid #ccc;
  }
  .seperator i {
      padding: 0 10px;
      background: #f7f7f7;
      position: relative;
      top: -11px;
      z-index: 1;
  }

.input-group-addon .fa{
  font-size: 18px;
}

.formTitleIcon {
    text-align: center;
    color: $primary-blue;
    font-size: 3rem;
}
.errorMessage {
    color: $error-red;
    font-style: italic;
    margin-bottom: 15px;
}
.response {
    font-style: italic;
    text-align: center;
}

.responseMessage {
    margin-bottom: 15px;
}

.input-group-addon.eye {
    background-color: #fff;
    border-left: 0;
    /* border: 1px solid #ccc;*/
}

.input-group-addon.check {
    background-color: #fff;
    border-left: 1px solid #fff;
    color: green;
}

.hide{
    display: none;
}

