* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
body {
  color: $text-color;
  font-weight: normal;
  background: $milk-background;
}
a {
  color: $primary-blue;
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none;
  }
}
.hide {
  display: none;
}

footer {
  text-align: center;
  padding: 20px 10px;
  margin-top: 30px;
}

.clear-fix {
  display: table;
  content: "";
  clear: both;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.ui.form, .ui.buttons, .ui.button {
  font-size: 1em;
}

.ui.tiny.button, .ui.tiny.buttons .button, .ui.tiny.buttons .or {
  font-size: .85714286em;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input[type=file] {
  display: none;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  font-size: 1em;
}
