$milk-background: #F4F3F0;
$primary-blue: #3498DB;
$shadow-ash: #c0c0c0;
$border-ash: #ccc;
$error-red: #9f3a38;
$error-border-red: #e0b4b4;
$form-footer-ash: #e9e9e9;
$text-color: #545454;
$link-color: #1a0dab;
$white: #fff;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
